@font-face {
  font-family: TheinhardtLight;
  src: url(/fonts/TheinhardtLight_alt.otf);
}

@font-face {
  font-family: TheinhardtMedium;
  src: url(/fonts/TheinhardtMed.otf);
}

html{
  overflow-x: hidden;
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


#header-content {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
}

#subheading1, #card {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .5s;
}

#thumbnail{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}

.comeInUp{
  opacity: 0;
}



.font-med{
  font-family: TheinhardtMedium, sans-serif;
  color: #5F5F5F;
}

body{
  background: #F6F6F6;
  color: #B5B5B5;
  font-size: 16px;
  font-family: TheinhardtMedium, sans-serif;
}


.header-content{
  padding: 20px 30px;
  vertical-align: middle;
  height: 80px;
}

.body-content{
  padding: 30px 30px !important;
}

.client-list{
  padding: 30px 30px 10px !important;
}

.col-xs-12 .header{
  text-align: left !important;
}

.page-link{
  color: inherit;
}

.page-link-active{
  font-weight: bold;
  color: #5F5F5F;
  font-family: TheinhardtMedium, sans-serif;
}

.page-link, .page-link-active{
  padding: 5px 7px;
}

a:hover{
  text-decoration: none;
  color: inherit;
  opacity: 0.6;
}

.header {
  padding: 0px 0px;
}

.thumbnails{
  padding: 20px 20px;
  /* -webkit-animation: 4s ease 0s normal forwards 1 fadein;
		animation: 4s ease 0s normal forwards 1 fadein; */
}

.image{
  padding: 7px;
}

.photo{
  padding: 10px 60px;
}

.image:hover{
  opacity: 0.7;
}

.client{
  vertical-align: middle;
  border: 2px solid black;
}

.client img{
  vertical-align: middle;
}



.heading{
  padding: 0px 5px;
  color: #5f5f5f;
  text-transform: uppercase;
}


/* CSS used here will be applied after bootstrap.css */
.thumbnail_container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
}

.thumbnail {
  position:absolute;
  width:100%;
  height:100%;
  border: none;
  background: none;
}
.thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

img{
  max-height:50%;
  max-width:100%;
  padding: 0px 30px;
}

.thumbnails .col-xs-12 img{
  padding: 10px 0px;
}

.container-fluid{
  padding-left: 10px !important;
  padding-right: 10px !important;
}





  .card, .card-client-top, .card-client{
    background-color: #eeeeee;
  }

  .card{
    padding: 40px;
  }

  .card-client-top{
    padding: 40px 40px 0px;
  }

  .card-client{
    padding: 0px;
  }

  .card-client-bottom{
    padding-bottom: 30px;
  }

  @media (min-width: 767px) {

    .body-content, .client-list {
      margin-left: auto;
margin-right: auto;
float: none;
width: 50%;
text-align: left;
    }

}
